/**/
/**/
*
{
    margin: 0px;
    padding: 0px;
}
/*Base SetUP*/
body
{
    position: relative;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
}
h4
{
font-size: 14px;
}
a
{
  text-decoration: none;
  text-align: center;
  vertical-align: middle; 
  color: black;
}
li
{
list-style: none;

}
.links
{
    text-decoration-line: underline;
    color:blue;
}
.links:hover
{
    text-decoration-line: none;
}
/*Base SetUp*/
/*Base Structure*/
#warper
{

width: 100%;
 
}

.posfixed
{
    width: 70%;   
    margin: 0 auto;
}
/*Header*/
#header
{
    top: 0px;
    position: relative;
    background: #ec2227;
}
/*top*/
#TA
{
   
width: 100%;
height: 105px;
display: flex;
}
/*Logo*/
#Logosec
{
    position: left;
    width:20%;   /*-->> Depens */
    height: 100%;
}
#logo
{
    width: 100%;
    margin-top:20px;
}
/*Logo*/

/*Search*/

#searchbar
{
  width: 80%;  /*-->> Depens */
  height: 100%;  
}
#SearchBrowser
{
margin-top: 30px;
margin-left: 30px; /*should center as pixel perfect*/

background: #ec2227; 
}
#SearchBrowser input
{
margin: 0px;
padding: 0px;    
vertical-align: middle;
padding-bottom: 10px;
padding-top:10px;

}
#SearchBrowser>#TextArea
{
    width: 75%;
    margin-left: 1px;
    border-radius: 5px; 
}
#SearchBrowser>#SubmitArea
{
    width: 23%;
    border-radius: 4px; 
}

form input[type="text"],
{
border: 1px solid black;
border-radius: 2px;

border-radius: 2px;
font-family: "Roboto",Arial, Helvetica, sans-serif;
font-size: 1em;
color: #141938;
}

form input[type="text"]:focus,
{
    border: 2px solid #3F51B1;
    padding: 15px;
}

.submit,form input[type="submit"]
{
    padding: 15px;
    background: #ED572A;
    color: #E1E9FA;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

.submit,form input[type="submit"]:hover
{
    background: #E64A19;
}


/*Search*/

/*ACC*/
#accountname
{
    display: inline-block;
    
    position: relative;
    right: 0px;

    width: 20%;  /*-->> Depens */
    height: 100%;
}
#NameandPick
{
    position: absolute;
    margin-top:10px;
    right: 0px;
    display: flex;
    
}
#ProfilePic
{
    
    width:24px;
    height:24px;
}
#ProfilePic img
{
    width: 100%;
    height: 100%;
}

#username
{
    margin-top:5px;margin-left:5px;
}
#username p
{
    color:white;
}

/*Caso cuando esta logeado*/
#opcions
{
    
margin-top:35px;    
width: 100%;
height: 70px;
}
#opcions ul
{
    padding-top: 5px;
    margin-left: 33%;
}
/*Acomodo d las opciones de la cuenta*/
#opcions ul li
{
    margin-left: 5px;
    margin-right: 3px;
    display:block;
    float: right;
}
/*ACC*/
/*top*/
/*NavBar*/
#nabvar
{
background:#333333;
}

#TB
{

width: 100%;
height: 45px;
display: inline-block;
}

#navfix
{
display: inline-block;
width: 100%;
height: 100%;
}
#navfix li
{
    display: inline-block;
    margin-left: 1px;
    width: 19%;  /*-->> Perfecto*/
    height: 100%;
    
}
#navfix li:hover
{
    background:#E64A19
}

#navfix li a
{

width: 100%;
height: 100%; 
}
#navfix li a p 
{
color: white;
}


/*NavBar*/

/*Header*/

/*mid*/
#mid
{
background:rgba(20,20,20,0.7);
position: relative;

}



/*mid*/


/*footer*/
#footer
{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #333333;
}
/*bot*/
#bot
{
height: 170px;
}
/*bot*/

/*footer*/
/*Base Structure*/