* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*dinamic_grid*/
#dinamic_grid
{
margin: 10px auto;    
width: 100%;
display: inline-block;
}
/*Left*/
.class1
{
float: left;
width: 50%;    


}
/*Midle*/
.class2
{
margin: 0px auto;

width: 33%;
text-align: center;
}
/*Rigth*/
.class3
{
float: right;
width: 50%;


}

.class1 dd ,.class2 dd ,.class3 dd
{
margin: 10px;
text-align: justify;
vertical-align: middle;
color: whitesmoke;
} 
.class1 h1 ,.class2 h1 ,.class3 h1
{
    color: whitesmoke;
}
/*Para cualquier imagen adentro de esas classes*/
.class1 img,.class2 img,.class3 img
{
   width: 100%; 
}

/*Galeia*/
.titlulo
{
    margin:  0 auto;
}

a {
	text-decoration: none;
	color:#fff;
}

a:hover {
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
}

.izquierda {
	float: left;
}

.derecha {
	float: right;
}

/* --- Header ---*/

header {
	margin: 40px 0;
	font-size: 20px;
	text-align: center;
}

/* --- imagenes --- */
 .fotos, .contenedor 
 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.thumb {
	width: 22%;
	margin-bottom: 30px;
	outline:5px solid rgba(255,255,255,0);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.thumb:hover {
	outline:5px solid rgba(255,255,255,1);
}

.thumb a {
	display: block;
}

.thumb img {
	vertical-align: top;
	width: 100%;
}

/* --- Single Foto --- */
.foto {
	width: 100%;
	margin: auto;
	max-width: 500px;
	text-align: center;
}

.foto img {
	width: 100%;
	vertical-align: top;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	margin-bottom: 30px;
}

.foto .texto {
	max-width: 500px;
	margin-bottom: 30px;
}

.regresar {
	padding: 5px 10px;
	margin-bottom: 30px;
	display: inline-block;
	border-radius: 50px;
	font-size: 16px;
	border:1px solid rgba(255,255,255,.2);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.regresar:hover {
	border:1px solid #fff;
	text-decoration: none;
}

.regresar .fa {
	margin-right: 15px;
}

/* --- Footer --- */

footer .copyright {
	text-align: center;
	color:rgba(255,255,255,.5);
	font-size: 16px;
	padding: 15px 0;
}

/* --- Paginacion --- */

.paginacion {
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
}

.paginacion a{
	display: inline-block;
	padding: 15px 20px;
	border-radius: 50px;
	border:1px solid rgba(255,255,255,.2);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.paginacion a:hover {
	border:1px solid #fff;
	text-decoration: none;
}

.paginacion .izquierda .fa {
	margin-right: 10px;
}

.paginacion .derecha .fa {
	margin-left: 10px;
}

/*Galeia*/

#bg
{
    background: #333333;
    color: white;
}
#bg>p
{
    padding-bottom: 30px;
}