*
{
    padding: 0px;
    margin: 0px;
}
#warper
{
    width: 100%;
    height: 100%;
}
#postfix
{
    background: white;
    width:33.3%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.fix
{
height: 20%;
}
#center
{
    height: 60%;
    background: black;
}
h1
{
    position: absolute;
    margin: 0 auto;
    margin-top: 35px;
    margin-left:30px;
    color: white;
}
#TA>figure
{
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}